# macOS
.DS_Store

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/
.venv/
venv/
.env

# Large modality folders
audio/data/
audio/output/

images/data/
images/output/

integration/data/
integration/output/

video/data/
video/output/

pdf/data/
pdf/output/

*.mp4
*.mov
*.avi
*.wav
*.mp3
*.png
*.jpg
*.jpeg
# Large model files
*.pt
*.pth
*.pkl
*.h5

# Archives and media
*.zip
*.mp4
*.mov
*.avi
*.mp3
*.wav
*.jpg
*.jpeg
*.png
